hr {
    width: 150px;
    text-align: center;
    border: 1px solid #20c997;
    border-radius: 50px;
    margin: 10px auto 40px;
}

.galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .galeria img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .galeria::after {
    content: "";
    width: 350px;
  }

  img:hover {
    transform: scale(1.05);
    filter: saturate(1);
}